; See ~/.ssh/config to change ssh key based on the account
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-private
[includeIf "gitdir:~/dev/"]
  path = ~/.gitconfig-private

[credential]
  helper = osxkeychain
[color]
  ui = true
[alias]
  st = status
  br = branch
  co = checkout
  ci = commit
[merge]
  ff = false
